<header>
  <div class="header__container">
    <div class="logo">Logo</div>
    <nav class="nav">
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        routerLink="/about"
        ariaCurrentWhenActive="page"
        >About</a
      >
      <a
        routerLink="/portfolio"
        ariaCurrentWhenActive="page"
        >Portfolio</a
      >
      <a
        routerLink="/contact"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </nav>
  </div>
</header>
